/node_modules
/dist
/.cache
/.next
/.nuxt
/.vscode

package-lock.json
yarn.lock
pnpm-lock.yaml
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
coverage
*.log
*.tgz
*.swp
*.swo
*.bak
*.tmp
*.zip
*.tar.gz
*.rar
*.7z
/generated/prisma
